.top-box {
  height: 85%;
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: 15px;
}
.top-box-form-item {
    font-size: 14px;
    width: 80%;
  }
  
  .top-box-form-item textarea,
  .top-box-form-item input,
  .top-box-form-item .ant-select-selector {
    font-size: 12px;
    padding: 4px 8px;
  }
  
  .top-box-form-item label {
    font-size: 12px;
  }
  
  .top-box-form-item .ant-btn {
    font-size: 14px;
    padding: 4px 12px;
    width: 50%;
  }
  